/* Setter border-box som standard for å inkludere padding og border i elementenes totale bredde og høyde.*/

*{
    box-sizing: border-box;
}

body{
    font-family: montserrat, sans-serif;
    margin: 0;
}

#global-top{
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    align-items: center;
    
    img{
        width: 3rem;
    }
    
    /*skilde YT med WebDevSimplified*/
    :first-child{
        margin-right: auto;
    }
    
    a{
        color: rgb(0, 0, 0);
    }
    
    #mobile ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        gap: 0.5rem;
    }
    
    .desktop{
        display: none;
    }
}

#header-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    #banner{
        grid-column: 1/2;
        grid-row: 1/4;
        
        h2{
            display: none;
        }
        
        background: url(../img/beach-from-top.jpg);
        background-size: cover;
    }
        
    #order-form{
        grid-column: 1/2;
        grid-row: 3/5;
        
        h2{
            display: none;
        }
        
        #order-from-index{
            background-color: rgb(255, 255, 255);
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 10px;
            
            .scroll-container{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow: scroll;
                white-space: nowrap; /*egenskapen fant jeg ut av ved cowboy-koding*/
                padding: 1rem;
                gap: 1rem;

                a{
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    text-decoration: none;
                    color: black;
                }

                
            }
            
            label{
                display: none;
            }
            
            select, input{
                width: 100%;
                background-color: white;
                border: none;
            }

            #søk{
                padding: 1rem;
                background-color: rgb(255, 212, 17);
                border-radius: 5px;
                font-weight: bold;
            }
        }
    }

}


#todays-deal{
    display: flex;
    flex-direction: column;
    background-image: url(../img/holiday-2733322_1280.jpg);
    background-size: cover;
    border-radius: 10px;

    article{
        margin: 1rem;
        padding: 2rem;
        background-color: #52d3f0;
        border-radius: 0px 20px 0px 20px;

        p{
            margin: 0;
        }

        #from-price{
            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    a{
        margin: 1rem;
        align-self: end;
        padding: 1rem;
        background-color: rgb(247, 207, 25);
        border-radius: 5px;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        
    }
}

/*-------------Mye rart som har vært med nesting...jobber videre med minimalt med nesting-----------------*/
.scroll-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    white-space: nowrap; /*egenskapen fant jeg ut av ved cowboy-koding*/
    padding: 1rem;
    gap: 1rem;
    
    h2{
        display: none;
    }
}

.deal{
   display: flex;
   flex-direction: column;
   padding: 1rem;
   border-radius: 10px;
   box-shadow: 0 0 5px rgb(160, 160, 160); /*Hentet fra W3 - https://www.w3schools.com/css/css3_shadows_box.asp*/

   a{
    text-decoration: none;
    color: #52d3f0;
   }

}

#tips-inspo{
    padding: 1rem;
}

#inspo{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.inspo-card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(160, 160, 160);
    
    width: 385px;

    .corner-heading{
        position: absolute;
        background-color: #1ca2c1;
        color: #fff;
        border-radius: 10px 0 30px 0;
    }

    img{
        width: 100%;
        border-radius: 10px 10px 0px 0px; /*prøvde meg frem til jeg fant ut av det*/
    }

    h3, p{
        margin: 0;
        padding: 1rem;
        
    }

    a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: .5rem;
    }

    ul{
        display: inline-flex;
        margin: 0;
        list-style: none;
        padding-left: 0.2rem;

        li{
            border-bottom: 3px solid;
            padding-bottom: .5rem;
            color: #1ca2c1;
            border-radius: 0 0 0 3px;
        }
    }
}

#bunn{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    background-color: #252525;
    color: #ffffff;
}


#bunn #nations{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    h3{
        display: none;
    }
}


#bunn figure{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;

    img{
        width: 50px;
    }
}

#info{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: left;
    gap: 1rem;
}

#bunn #payment-method{
    padding: 1rem;
    
    h3{
        font-size: 1rem;
    }

    .list-style-delete{
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        font-size: 1.5rem;
        gap: 0.5rem;
        padding: 0rem;
    }
}

#bunn #notification{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;

    h3{
        font-size: 1rem;
    }

    form fieldset{
        display: flex;
        padding: 1rem;
        gap: 0.5rem;
    }

    form label{
        display: none;
    }

    form input{
        border-radius: 5px;
        border: none;
        padding: 0.5rem;
    }

    form #send{
        border-radius: 5px;
        border: none;
        padding: 0.5rem;
        background-color: #ffd33c;
        font-weight: bold;
    }

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}

#costumer-service{
    padding: 1rem;

    h3{
        font-size: 1rem;
    }

    .list-style-delete{
        display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    gap: 0.5rem;
    padding: 0rem;

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    }
}

#some{
    padding: 1rem;
    h3{
        font-size: 1rem;
    }

    .list-style-delete{
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        gap: 1rem;
        padding: 0rem;
        font-size: 2rem;

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    }
}



/*-----------------Her kommer stilsetting av Hotell siden-----------------*/
/*--------kun definering av grid og plassering av grid-elementer, for unngå mye nesting------*/
#header-grid-container-hotell{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    #header-hotell{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #overview{
        grid-column: 1/2;
        grid-row: 2/2;
        padding: 1rem;

    }

    #facilities{
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 1rem;
    }

    #explore{
        grid-column: 1/2;
        grid-row: 4/5;
        
    }

    #availability{
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

/*--------slutt på definering av grid og plassering av grid-elementer---------*/

#photo-gallery{
    
    h2{
        display: none;
    }


    .scroll-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: scroll;
        white-space: nowrap; /*egenskapen fant jeg ut av ved cowboy-koding*/
        padding: 0;
        gap: 0;

        .fa-heart{
            position: absolute;
            top: 145px;
            right: 10px;
            background-color: #ffffff;
            padding: 0.5rem;
            color: #fb0000;
            border-radius: 20px;
        
        }

        .fa-circle-chevron-left{
            position: absolute;
            top: 265px;
            left: 5px;
            font-size: 1.5rem;
            background-color: #fff;
            border-radius: 25px;
            opacity: 0.5;
        }

        .fa-circle-chevron-right{
            position: absolute;
            top: 265px;
            right: 5px;
            font-size: 1.5rem;
            background-color: #fff;
            border-radius: 25px;
            opacity: 0.5;
        }

        .fa-images{
            position: absolute;
            top: 360px;
            right: 5px;
            background-color: #575555;
            font-size: 0.6rem;
            color: #fff;
            border-radius: 25px;
            opacity: 0.8;
            padding: 0.5rem;
        }

        
        figure{
            margin: 0;
        }

        img{
            width: 100%;
            height: 100%;
            /*for å få bildene slikt på siden har jeg prøvd og feilet i flere timer...*/
        }
    }

}

#nav-overview{


    .list-style-delete{
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        gap: 0.5rem;
        padding: 0rem;
        border-bottom: 2px solid #F6F5F2;


        a{
            color: rgb(0, 0, 0);
            text-decoration: none;
        }



        .blue-underscore{
            border-bottom: 3px solid;
            padding-bottom: 1rem;
            color: #1ca2c1;
        }


        #blue-font{
            color: #1ca2c1;
            font-weight: bold;
        }

    }

}



#overview{

    #star{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        color: #ffda58;
    }

    p{
        font-weight: bolder;

        span{
            background-color: #019101;
            border-radius: 8px;
            padding: 0.4rem;
            font-size: 0.8rem;
            color: #ffffff;
        }
    }

    a{
        text-decoration: none;
        color: #1ca2c1;
        font-weight: bold;
    }
}


#facilities{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    #facilities-icons{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .facilities-icons2{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 0.5rem;
        padding: 0rem;
    }

    .facilities-icons3{
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 0.5rem;
        padding: 0rem;
    }

    a{
        text-decoration: none;
        color: #1ca2c1;
        font-weight: bold;
    }
}


#explore{

    iframe{
        width: 100%;
    }
}



#availability{

    padding: 1rem;
    padding-bottom: 0;

    img{
        width: 100%;
    }

    #room-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #sticky{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        /*disse to width egenskapene fant jeg ut ved cowboy koding. Så at jeg trengte to width for å tilfredstille firefox og chrome*/
        width: -moz-available; 
        width: -webkit-fill-available;

        /*skilde W3 https://www.w3schools.com/howto/howto_css_sticky_element.asp*/
        position: sticky;
        bottom: 0;
        background-color: #ffffff;
        border-radius: 25px 25px 0 0;
        padding: 0.5rem;
        box-shadow: 0 0 5px #a0a0a0;



        h3{
            display: none;
        }

        article{
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3{
                display: inline-flex;

                margin: 0;
            }

            p{
                margin: 0;
            }
        }

        #select-room{
            grid-column: 2/3;
            grid-row: 1/2;

            display: flex;
            align-items: end;

            h4{
                display: flex;
                width: 100px;
                background-color: #1ca2c1;
                border-radius: 20px;
                color: #ffffff;
                margin: 4px;
                padding: 0.5rem;
                justify-content: center;
                
            }
        }
        
    }

    .room-card{
        border-radius: 10px;
        box-shadow: 0 0 5px rgb(160, 160, 160);

        img{
            border-radius: 10px 10px 0 0;
        }

        .room-info{
            padding: 1rem;
        }

        .bed-size{
            display: flex;
            flex-direction: row;
            padding: 0;
            gap: 1.5rem;

            :first-child{
                list-style: none;
            }
        }

        p{
            font-weight: bold;

            span{
                background-color: #019101;
                border-radius: 8px;
                padding: 0.4rem;
                font-size: 0.8rem;
                color: #ffffff;
            }
        }

        .price-on-room{
            list-style: none;
            margin: 0;
            padding: 0;

            :first-child{
                font-size: 1.5rem;
                margin: 0;
            }
        }
    }



}

/*-----------------Her slutter stilsetting av Hotell siden-----------------*/

/*-----------------Her starter stilsetting av Hotell siden-----------------*/

#process-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    list-style: none;
    background-color: #1ca2c1;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    border-radius: 0 0 10px 10px;
    gap: 0.5rem;

    li{
        

        a{
            color: #ffffff;
            text-decoration: none;
            font-size: 0.9rem;
            vertical-align: middle; /*Dennn egenskapen fant jeg ved cowboykoding i nettleser*/
            padding: 0.5rem;
        }

        #you-are-here{
            font-weight: bolder;
            font-size: 0.9rem;
        }

        .fa-chevron-right{
            font-size: 2rem;
        }
    }
}


#grid-container-order{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /*kilde https://www.youtube.com/watch?v=3T0gjtXRNC0&t=286s*/
    grid-template-rows: 1fr;

    nav{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #overview-order{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #person-info{
        grid-column: 1/2;
        grid-row: 3/4;
    }

}


#overview-order{

    .desktop{
        display: none;
    }

    h2{
        display: none;
    }


    #mobile-view{
        margin: 1rem;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 5px rgb(160, 160, 160);

        img{
            width: 100%;
            margin-top: 1rem;
            border-radius: 10px;
        }

    }

    summary{
        display: flex;
        align-items: baseline;
        gap: 0.2rem;
        font-weight: bold;
    }

    

}

.rating{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: .5rem;
    list-style: none;
    font-size: 1.5rem;
    color: #ffda58;
}

.overview-with-icons{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 1rem;

    li{
        display: flex;
        gap: 1rem;
    }
}

.ordinary-price{
    text-decoration-line: line-through;
}

.discounted-price{
    color: #fb0000;
}


#person-info{
    padding: 1rem;

    h2{
        margin-top: 0;
    }
}

#order-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button{
        padding: 1rem;
        width: 120px;
        background-color: #ffd33c;
        border: none;
        border-radius: 5px;
        font-weight: bold;
    }
}

.main-and-2person-form{
    background-color: #F6F5F2;
    border-radius: 10px;
    border: none;

    legend{
        font-weight: bold;
    }

    label{
        display: block;
        font-size: .9rem;
        font-weight: bold;
    }

    .month-year{
        display: none;
    }


    #fornavn, #fornavn-2, #etternavn, #etternavn-2{
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #e1e1e1;
    }

    .birthdate-info{
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        #fødselsdato, #fødselsdato-2{
            width: 35%;
            margin-bottom: .5rem;
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
        }

        #måned, #måned-2{
            width: 30%;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
        }

        #år, #år-2{
            width: 25%;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
        }
    }

    .gender-label{
        display: inline;
    }

    .margin-over-gender{
        margin-top: 1rem;
    }

    #epost, #telefon, #gateadresse, #postnummer, #poststed{
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #e1e1e1;
    }

    #land{
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
    }


}



/* Color Theme Swatches in Hex */
.Svart-2-hex { color: #000000; }

/* Color Theme Swatches in Hex */
.greige-2-hex { color: #F6F5F2; }

/* Color Theme Swatches in Hex */
.grønn-2-hex { color: #019101; }

/* Color Theme Swatches in Hex */
.lys-grå-2-hex { color: #E8E8E8; }

/* Color Theme Swatches in Hex */
.mørk-grå-2-hex { color: #252525; }

/* Color Theme Swatches in Hex */
.mørk-turkis-2-hex { color: #1CA2C1; }

/* Color Theme Swatches in Hex */
.lys-turkis-2-hex { color: #52D3F0; }
