/* Setter border-box som standard for å inkludere padding og border i elementenes totale bredde og høyde.*/

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif; margin: 0;
}

#global-top{
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    align-items: center;
    
    img{
        width: 3rem;
    }
    
    /*skilde YT med WebDevSimplified*/
    :first-child{
        margin-right: auto;
    }
    
    a{
        color: rgb(0, 0, 0);
    }
    
    #mobile ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        gap: 0.5rem;
    }
    
    .desktop{
        display: none;
    }
}

#header-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    #banner{
        grid-column: 1/2;
        grid-row: 1/4;
        
        h2{
            display: none;
        }
        
        background: url(../img/beach-from-top.jpg);
        background-size: cover;
    }
        
    #order-form{
        grid-column: 1/2;
        grid-row: 3/5;
        
        h2{
            display: none;
        }
        
        #order-from-index{
            background-color: rgb(255, 255, 255);
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 10px;
            
            .scroll-container{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow: scroll;
                white-space: nowrap; /*egenskapen fant jeg ut av ved cowboy-koding*/
                padding: 1rem;
                gap: 1rem;

                a{
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    text-decoration: none;
                    color: black;
                }

                
            }
            
            label{
                display: none;
            }
            
            select, input{
                width: 100%;
                background-color: white;
                border: none;
            }
        }
    }

}


#todays-deal{
    display: flex;
    flex-direction: column;
    background-image: url(../img/holiday-2733322_1280.jpg);
    background-size: cover;
    border-radius: 10px;

    article{
        margin: 1rem;
        padding: 1rem;
        background-color: rgb(0, 234, 234);
        border-radius: 0px 20px 0px 20px;
    }

    a{
        margin: 2rem;
        padding: 1rem;
        background-color: rgb(247, 207, 25);
        text-align: right;
        margin-left: 16rem;
        border-radius: 5px;
        
    }
}

/*-------------Mye rart som har vært med nesting...jobber videre med minimalt med nesting-----------------*/
.scroll-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    white-space: nowrap; /*egenskapen fant jeg ut av ved cowboy-koding*/
    padding: 1rem;
    gap: 1rem;
    
    h2{
        display: none;
    }
}

.deal{
   display: flex;
   flex-direction: column;
   padding: 1rem;
   border-radius: 10px;
   box-shadow: 0 0 5px rgb(160, 160, 160); /*Hentet fra W3 - https://www.w3schools.com/css/css3_shadows_box.asp*/

   a{
    text-decoration: none;
    color: rgb(85, 157, 208);
   }

}

#inspo{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}


.inspo-card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(160, 160, 160);
    
    width: 385px;

    img{
        width: 100%;
        border-radius: 10px 10px 0px 0px; /*prøvde meg frem til jeg fant ut av det*/
    }

    h3, p{
        margin: 0;
        padding: 1rem;
        
    }

    a{
        color: rgb(0, 0, 0);
        text-decoration-color: rgb(85, 157, 208);
        text-decoration-thickness: 5px;
    }
}

footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
}


footer #nations{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    h3{
        display: none;
    }
}


footer figure{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;

    img{
        width: 50px;
    }
}

#info{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: left;
    gap: 1rem;
}

footer #payment-method{
    padding: 1rem;
    
    h3{
        font-size: 1rem;
    }

    .list-style-delete{
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        font-size: 1.5rem;
        gap: 0.5rem;
        padding: 0rem;
    }
}

footer #notification{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;

    h3{
        font-size: 1rem;
    }

    form fieldset{
        display: flex;
        padding: 1rem;
        gap: 0.5rem;
    }

    form label{
        display: none;
    }

    form input{
        border-radius: 5px;
        border: none;
        padding: 0.5rem;
    }

    form #send{
        border-radius: 5px;
        border: none;
        padding: 0.5rem;
        background-color: rgb(242, 170, 76);
        font-weight: bold;
    }

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}

#costumer-service{
    padding: 1rem;

    h3{
        font-size: 1rem;
    }

    .list-style-delete{
        display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    gap: 0.5rem;
    padding: 0rem;

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    }
}

#some{
    padding: 1rem;
    h3{
        font-size: 1rem;
    }

    .list-style-delete{
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        gap: 1rem;
        padding: 0rem;
        font-size: 2rem;

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    }
}



/*-----------------Her kommer stilsetting av Hotell siden-----------------*/
#header-grid-container-hotell{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    #header-hotell{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #overview{
        grid-column: 1/2;
        grid-row: 2/2;
    }

    #facilities{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #explore{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #availability{
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

#photo-gallery{
    
    h2{
        display: none;
    }

    .scroll-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    white-space: nowrap; /*egenskapen fant jeg ut av ved cowboy-koding*/
    padding: 0;
    gap: 0;


    figure{
        margin: 0;
    }

    img{
        width: 100%;
        height: 100%;
        /*for å få bildene slikt på siden har jeg prøvd og feilet i flere timer...*/
    }
}
}

#nav-overview{


    .list-style-delete{
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        gap: 0.5rem;
        padding: 0rem;
        border-bottom: 2px solid grey;


        a{
            color: rgb(0, 0, 0);
            text-decoration: none;
        }



        .blue-underscore{
            border-bottom: 3px solid;
            padding-bottom: 1rem;
            color: rgb(85, 157, 208);
            }

            #blue-font{
                color: rgb(85, 157, 208);
            }
        }
    }





#explore{

    iframe{
        width: 100%;
    }
}



#availability{

    img{
        width: 100%;
    }
}